body {
	background-image: url("tinasheback.jpg");
	background-repeat: no-repeat;
	background-size: 120% 100%;
}

#logo {
border: solid 1px black;
background-color: black;
width: 44%;
position: absolute;
top: 20px;
left: 30px;
}

#border {
	text-align: center;
	border: solid 5px black;
	margin-right: 700px;
	font-family: arial;
	font-size:20pt;
	color:navy;
}

h1 {
	font-size: 40pt;
	font-family: Arial;
}

.special{
	font-size: 24pt;
	font-family: arial;
	color: navy;
}
