body {
	background-image: url("sia2.jpg");
	background-repeat: repeat-y;
	padding: 0px;
	margin: 0px;
	margin-left: 400px;
text-align: center;
}

#border {
	border: 20px solid transparent;
    padding: 0px;
    text-align: center;
    border-image: url(siawig.jpg) round;
    border-image-slice: 30%;
    margin: 0 auto;

}

h2 {
	font-size: 40pt;
	font-family: tahoma;
}

p {
	font-family: tahoma;
	font-size:20pt;
	font-weight: bold;
}

h3 {
	text-transform: uppercase;
	font-size: 30pt;
	font-weight: bold;
	font-family: tahoma;
	text-decoration: underline;

}