h1 {
	text-align: center;
	font-size: 200px;
	margin: 0;
	color: white;
	font-family: chiller;
	}

	.color {
		color: white;
		font-family: arial;
		text-align: center;
	}

	#background {
		background: black;
	}

	.border {
		border-style: double;
		border-width: 30px;
		border-color: white;
		padding: 0px;
		text-align: center;
		width: 55%;
		float: right;
	}

	#socialMediaDeck {
		width: 500px;
		height: 100px;
		background: black;
		border: double 10px white;
		position: absolute;
		top: 255px;
		left:0px;
		text-align: center;
		text-transform: uppercase;
	}

	#MainArea {
		clear:both;
	}

.center {
	text-align:center;
}

ul li {
	list-style: none;
	display: inline-block;
	padding-right: 45px;
}

ul li:hover {
	cursor: hand;
}

div.video{
    width:300px;
   top: 120px;	 
   float: left;
   position: relative;
}
