h1 {
	text-align: center;
}

li {
	display:inline;
}

ul#menu li a {
    border-radius: 15px 50px;
    background: #362D2C;
    padding: 20px; 
    width: 150px;
    height: 150px;    
    text-align: center;
    color: white;
    font-family: Comic;
}

ul#menu li a:hover {
    background-color: blue;
}

.center {
	text-align: center;
}